$border-color: yellow;
$background-color: grey;

body {
	background: #eee;
	font-family: 'Helvetica', Ariel, sans-serif;
	* {
		box-sizing: border-box;
	}

	.hidden{
		display:none;
	}

	input, select, button {
		&:focus, &:hover, &:active {
			outline: none;
		}
		border-radius: 0px;
	}
	select {
		border-radius: 0px;
		-webkit-appearance: none;
		text-align-last:center;
	}
}

.module-container {
	background: #ddd;
	float: left;
	margin-right: 5px;
	height: 400px;
	width: 200px;
	text-align: center;
	position:relative;
	.module-container--content {
		padding: 15px;
	}

	.module-name {
		font-style: italic;
		position: relative;
		text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 0px;
	}
}


.knob-container {
	.knob {
		height: 40px;
		width: 40px;
		border: 5px solid $border-color;
		border-radius: 50%;
		margin: 20px auto 0;
		.line{
			height: 20px;
	    width: 20px;
	    margin: -5px;
	    border-bottom: 4px solid $border-color;
	    margin-top: -3px;
		}
	}
	.knob-name {
		margin-top: 5px;
		font-size: 12px;
		letter-spacing: 2px;
		font-weight:200;
		text-transform: uppercase;
	}
}

.screw-row {
	margin-top: 5px;
	width: 100%;
	position:absolute;
	&.screw-row--bottom {
		bottom: 5px;
	}
}

.screw {
	border-radius: 50%;
	height: 25px;
	width: 25px;
	background: #888;
	float: left;
	margin-left: 5px;

	&.right {
		float: right;
		margin-right: 5px;
	}

	.indent {
    height: 5px;
    width: 20px;
    background: #666;
    position: relative;
    top: 10px;
    border-radius: 3px;
    left: 3px;
    &.vert {
    	transform: rotate(90deg);
    	top: 5px;
    }
	}
}

.display-amount-container, .display-type-container {
	margin: 0 auto;
	.display-amount-input, .display-amount-view, .display-type-dropdown {
		margin: 0 auto;
		color: $border-color;
		background: $background-color;
		border: 1px solid $border-color;
		padding: 2px;
		text-align: center;
		width: 80px;
		font-size: 12px;
		margin-bottom: 5px;
	}
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}