$border-color: yellow;
$background-color: grey;

@import './style/knob.scss';

body {
	background: #eee;
	font-family: 'Helvetica', Ariel, sans-serif;
	* {
		box-sizing: border-box;
	}

	.hidden{
		display:none;
	}

	input, select, button {
		&:focus, &:hover, &:active {
			outline: none;
		}
		border-radius: 0px;
	}
	select {
		border-radius: 0px;
		-webkit-appearance: none;
		text-align-last:center;
	}
}

.module-container {
	background: #ddd;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
	height: 400px;
	width: 200px;
	text-align: center;
	position: relative;

	.module-container--content {
		padding: 35px 15px 15px 15px;
		z-index: 10;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}

	.module-name {
		font-style: italic;
		position: relative;
		text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 0px;
	}
}

.jack-container {
	position: relative;
	width: 30px;
	margin: 0 auto;

	.color-connector {
		position: absolute;
		top: 0px;
		left: 9px;
		height: 30px;
		width: 12px;
		background: #aaa;
		&:nth-child(2)  { transform: rotate(45deg); }
		&:nth-child(3)  { transform: rotate(90deg); }
		&:nth-child(4)  { transform: rotate(135deg); }
	}

	.jack-center {
    border-radius: 50%;
    background: black;
    height: 22px;
    width: 22px;
    z-index: 0;
    position: relative;
    top: 4px;
    left: 4px;
	}

	.jack-name {
		margin-top: 12px;
		font-size: 12px;
		letter-spacing: 2px;
		text-transform: lowercase;
	}
}

.screw-row {
	margin-top: 5px;
	width: 100%;
	position:absolute;
	z-index: 0;

	&.screw-row--bottom {
		bottom: 5px;
	}
}


.speaker-hole-container {
	width: 100%;

	.speaker-hole-row {
		display: flex;
		margin: 0 auto;
		justify-content: center;

		.speaker-hole {
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #444;
			margin: 3px;
			float: left;
		}
	}
}


.screw {
	border-radius: 50%;
	height: 25px;
	width: 25px;
	background: #888;
	float: left;
	margin-left: 5px;

	&.right {
		float: right;
		margin-right: 5px;
	}

	.indent {
    height: 5px;
    width: 20px;
    background: #666;
    position: relative;
    top: 10px;
    border-radius: 3px;
    left: 3px;
    &.vert {
    	transform: rotate(90deg);
    	top: 5px;
    }
	}
}

.envelope-in-jack, .envelope-out-jack {
	position: absolute;
	bottom: 10px;
}

.envelope-out-jack {
	right: 30px;
}

.envelope-in-jack {
	left: 30px;
}

.filter-in-jack, .filter-out-jack {
	position: absolute;
	bottom: 10px;
}

.filter-out-jack {
	right: 30px;
}

.filter-in-jack {
	left: 30px;
}

.oscillator-out-jack {
	position: absolute;
	bottom: 10px;
	right: 30px;
}

.display-amount-container, .display-type-container {
	margin: 0 auto;
	.display-amount-input, .display-amount-view, .display-type-dropdown {
		margin: 0 auto;
		color: $border-color;
		background: $background-color;
		border: 1px solid $border-color;
		padding: 2px;
		text-align: center;
		width: 80px;
		font-size: 12px;
		margin-bottom: 5px;
	}
}

.canvas-container{
  width: 100%;
  height: 100px;
  .oscilloscope {
    width: 100%;
  }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}