@import './normalize.css';
@import './mixins.scss';
@import './skeleton.scss';
@import './moduleContainer.scss';
@import './walkthroughOverlay.scss';
@import './visualElements.scss';
@import './variables.scss';
@import './knob.scss';
@import './jack.scss';
@import './displayamount.scss';

body {
	background: #eee;
	font-family: 'Helvetica', Ariel, sans-serif;
	margin:0px;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	* {
		box-sizing: border-box;
	}

	.hidden{
		display:none;
	}

	input, select, button {
		&:focus, &:hover, &:active {
			outline: none;
		}
		border-radius: 0px;
	}
	select {
		border-radius: 0px;
		-webkit-appearance: none;
		text-align-last:center;
	}
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.euro-rack-container{
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  margin: 5px auto;
}

.speaker-hole-container {
	width: 100%;
	padding: 10px 0px;

	.speaker-hole-row {
		display: flex;
		margin: 0 auto;
		justify-content: center;

		.speaker-hole {
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #444;
			margin: 3px;
			float: left;
		}
	}
}

.envelope-in-jack, .envelope-out-jack {
	position: absolute;
	bottom: 10px;
	.jack-container {
		margin-bottom: 10px;
	}
}

.envelope-out-jack {
	right: 15px;
}

.envelope-in-jack {
	left: 15px;
}

.filter-in-jack, .filter-out-jack {
	position: absolute;
	bottom: 20px;
}

.filter-out-jack {
	right: 30px;
}

.filter-in-jack {
	left: 30px;
}

.oscillator-out-jack {
	position: absolute;
	bottom: 20px;
	right: 30px;
}

.waveforms-out-row {
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 0px;
	right: 0px;

	.waveforms-centered-row {
		width: 90%;
    margin: 0 auto;

		.jack-container {
			width: 25%;
			float: left;
		}
	}
}

.message-banner {
	transition: all 0.3s ease-in-out;
	background: $error-color;
	text-align: center;
	padding: 20px;
  position: absolute;
  right: 0px;
  left: 0px;
  z-index: 100;
  top: 0px;

	&.empty {
	  top: -60px;

	}
}

.midi-error {
	margin-top: 12px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: lowercase;
  width: 100%;
}

.master-out-jack .jack-container {
	padding: 5px 0px 20px;
}

.gate-out-jack, .cv-out-jack {
	.jack-container {
		margin-bottom: 3px;
	}
}


.canvas-container{
  width: 100%;
  height: 100px;
  .oscilloscope {
    width: 100%;
  }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}