.display-amount-container, .display-type-container {
	margin: 0 auto;
	.display-type-dropdown {
		transition: all .3s ease-in-out;
		margin: 0 auto;
		color: $black;
		background: $background-color;
		border: 1px solid $background-color;
		padding: 2px;
		text-align: center;
		width: 100%;
		font-size: 12px;
		margin-bottom: 5px;

		&:hover {
			background-color: rgba(255, 255, 0, 0.3)
		}
	}
	.display-amount-input, .display-amount-view {
		margin: 0 auto;
		color: $black;
		background: $clear;
		border: 1px solid $clear;
		text-align: center;
		width: 80px;
		font-size: 12px;
		margin-bottom: 5px;
		height: 15px;
		&:hover {
			background: $background-color;
			cursor: pointer;
		}
	}
	.display-amount-input{
		background: $background-color;
		padding: 0px;
	}
}


.no-amount-pair {
	.display-amount-input, .display-amount-view {
		display:none;
		// &:hover {
		// 	background: $background-color;
		// 	cursor: auto;
		// }
	}
}