.knob-container {
	width: 100%;

	.value-centering {
		height: 0px;
		width: 50px;
		margin: 0 auto;
		position: relative;
		background: orange;

		.value-line {
			height: 50px;
			width: 50px;
			border: 1px solid black;
			border-radius: 50%;

			.line-container {
		    position: relative;
		    left: -5px;

				.min-line {
					position: absolute;
					top: 25px;
					height: 1px;
					background: black;
					width: 60px;
				}
			}
		}
	}

	.knob-centering {
		width: 40px;
		height: 40px;
		margin: 0 auto;
		.knob {
			height: 40px;
			width: 40px;
			border: 5px solid $border-color;
			border-radius: 50%;
			margin-top: 5px;
			.line{
				height: 20px;
		    width: 20px;
		    margin: -5px;
		    border-bottom: 4px solid $border-color;
		    margin-top: -3px;
			}
		}
	}
	.knob-name {
		margin-top: 5px;
		font-size: 12px;
		letter-spacing: 2px;
		font-weight:200;
		text-transform: uppercase;
	}
}