$border-color: #ffff00;
$background-color: grey; //#c8c8c8;
// $background-color-dark: #c4c4c4;
$black: black;
$clear: rgba(0,0,0,0);

$error-color: red;
$warning-color: yellow;
$success-color: green;